@font-face {
    font-family: "Anime Ace";
    src: url("../css/animeace2_reg.otf");
    font-weight: 400;
    font-style: normal;
}

html {
    --annotation-title-font-size: 15px;
    --annotation-label-font-size: 13px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    background: #ffffff;
}

#chart-container {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 24px;
    text-align: center;
}

#chart {
    position: relative;
}

#chart svg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
    font-family: "Anime Ace", monospace;
}

canvas {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.last-name-label {
    fill: #b9b9b9;
}

.chapter-number {
    fill: #6d6d6d;
}

.card-label {
    cursor: default;
    pointer-events: none;
}

.card-legend {
    fill: #a1a1a1;
}

.volume-arc {
    fill: none;
    stroke-linecap: round;
}

.annotation-group {
    pointer-events: none;
}

.annotation-note-title {
    font-size: var(--annotation-title-font-size);
    font-weight: 400;
}

.annotation-note-label {
    font-size: var(--annotation-label-font-size);
    font-family: "Barlow Semi Condensed", sans-serif;
}

.annotation-circle {
    fill: none;
    stroke-dasharray: 0, 5;
    stroke-linecap: round;
}

@media screen and (max-width: 500px) {
    #chart-container {
        padding-top: 8px;
        padding-bottom: 12px;
    }
}
